@mixin button() {
  font-family: Poppins;
  font-weight: 600;
  text-align: center;
  background-color: var(--miscGreen);
  color: var(--white);
  border-radius: 10px;
  border: none;
  width: fit-content;
  padding: 8px 22px 8px 22px;
}

@mixin navItem(){
  color: var(--black);
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 15px;
}

@mixin hr(){
  min-height: 1px;
  max-height: 1px;
  background-color: var(--miscGreen);
  opacity: 0.6;
  border: none;
}

