:root {
    /*Colors*/
    --lightGreen: #ecf6ee;
    --strongGreen: #6c757d;
    --miscGreen: #1b9c85;
    --white: #f5f5f5;
    --black: #1f1f1f;
    
    /*Fonts*/
    --menu: Montserrat;
    --header: Poppins;

    /*Shadows*/
    --imgShadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
  }